@media only screen and (max-width: 1090px) {
  .register .form .form-in .green_btn {
    float: left;
    margin-bottom: 0;
    margin-top: 10px; }
  .register .form .form-in .form-info {
    width: auto;
    margin: auto;
    padding: 4px 0 0px 36px;
    background-position: 15px 6px;
    float: left;
    height: 30px; }
  .register .form .form-in .calendar {
    float: left;
    margin: 0 5% 0% 14%; }
  .register .form .form-in .fi-right {
    overflow: hidden;
    width: 200px;
    float: right; } }
@media only screen and (max-width: 1071px) {
  .logo {
    width: 180px;
    margin: auto;
    float: none;
    padding: 0; }

  .menu {
    float: none !important;
    padding: 0;
    margin: auto; }

  .prices {
    margin: 0 2%; }
    .prices:first-child {
      margin: 0; } }
@media only screen and (max-width: 1000px) {
  .register .form .form-in .calendar {
    float: left;
    margin: 0 5% 0% 10%; } }
@media only screen and (max-width: 950px) {
  .form-content .right {
    width: 485px; }
    .form-content .right .prices {
      margin: 0 2%; }
      .form-content .right .prices:last-child {
        margin: auto;
        float: left; }
      .form-content .right .prices:first-child {
        margin: auto;
        float: left; } }
@media only screen and (max-width: 918px) {
  .form-content .left {
    width: auto;
    margin-top: 0; }
    .form-content .left .left-in1, .form-content .left .left-in2 {
      width: auto;
      float: none; }

  .ticket-spec {
    margin-top: 10px; } }
@media only screen and (max-width: 915px) {
  .map {
    display: none; }

  .ws {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 39px; } }
@media only screen and (max-width: 885px) {
  .register .form .form-in .calendar {
    float: left;
    margin: 0 5% 0% 5%; } }
@media only screen and (max-width: 840px) {
  .register .form .form-in .calendar {
    float: left;
    margin: 0 5% 0% 2%; } }
@media only screen and (max-width: 813px) {
  .register .form .form-in .calendar {
    margin: 0; } }
@media only screen and (max-width: 800px) {
  .story .photo {
    width: 25%;
    max-width: none;
    height: auto; }
  .story .s-text {
    padding: 0 0px 0 50px;
    width: 70%;
    float: left;
    margin-top: -6px; }

  .register .form .form-in .calendar {
    float: left;
    margin: 0; } }
@media only screen and (max-width: 780px) {
  .register .form {
    padding: 10px 10px 5px 10px; }
    .register .form .form-in .green_btn {
      margin-bottom: 10px; }
    .register .form .form-in .fm-cn {
      overflow: hidden;
      width: 450px;
      margin: auto;
      float: none;
      clear: both;
      padding-left: 3%; }
      .register .form .form-in .fm-cn .form-map {
        background-position: initial; }
      .register .form .form-in .fm-cn .city-name {
        margin: auto;
        float: left; }
        .register .form .form-in .fm-cn .city-name p {
          margin-bottom: 10px; }
    .register .form .form-in .calendar {
      margin: auto;
      float: none;
      overflow: hidden; }
    .register .form .form-in .fi-right {
      overflow: hidden;
      float: none;
      margin: auto;
      width: 200px; }
      .register .form .form-in .fi-right .form-info {
        margin-top: 10px; } }
@media only screen and (max-width: 750px) {
  .register .form-content .left {
    width: 400px;
    overflow: hidden;
    margin: auto;
    float: none !important; }
    .register .form-content .left .left-in1 {
      width: 150px;
      margin: auto;
      float: left; }
    .register .form-content .left .left-in2 {
      width: 200px;
      float: right; }
  .register .form-content .right {
    margin: auto;
    float: none !important;
    overflow: hidden;
    width: 485px; }

  .prices .price {
    padding: 10px 0; }

  .ticket-spec {
    margin-top: 30px; } }
.c-in h3 {
  font-size: 40px;
  padding: 50px 0; }
.c-in .story {
  overflow: hidden; }
  .c-in .story .photo {
    width: 30%;
    float: none;
    margin: auto;
    max-width: none;
    height: auto; }
  .c-in .story .s-text {
    padding: 0;
    width: 100%;
    margin: auto;
    max-width: none;
    padding-top: 20px;
    float: left;
    margin-top: 0; }
    .c-in .story .s-text p {
      text-align: justify; }
.c-in .sc-row-top .sponsor-cell {
  margin: 0 2rem !important; }
.c-in .sc-row-mid .sponsor-cell {
  width: 100px !important; }
.c-in .sc-row-bot .sponsor-cell {
  width: 66px !important;
  margin: 0 1rem !important; }

@media only screen and (max-width: 650px) {
  .quote p {
    text-align: center; }

  .pt-in {
    margin: 0 0 20px 0;
    width: 50%; }

  .class-type .green_btn {
    float: none !important; }
  .class-type h3 {
    margin-top: 60px !important; }

  .ct-in .ct-in-right {
    float: right;
    width: 55%; } }
@media only screen and (max-width: 640px) {
  .green-btn a {
    width: 22% !important;
    text-align: center;
    margin: 0 2% 15px; }

  .menu {
    position: absolute; }
    .menu .top-bar {
      position: relative; }
      .menu .top-bar ul {
        position: relative; }
      .menu .top-bar .top-bar-section {
        position: relative; }
        .menu .top-bar .top-bar-section ul.left {
          position: relative; }
          .menu .top-bar .top-bar-section ul.left li {
            position: relative;
            background-color: rgba(29, 29, 29, 0.96);
            text-align: center; }
            .menu .top-bar .top-bar-section ul.left li:hover {
              background-color: rgba(107, 107, 107, 0.96); }
            .menu .top-bar .top-bar-section ul.left li a {
              padding: 12px 0 12px 0; }
          .menu .top-bar .top-bar-section ul.left .green-btn {
            padding-bottom: 20px; }
            .menu .top-bar .top-bar-section ul.left .green-btn:hover {
              background-color: rgba(29, 29, 29, 0.96); }
            .menu .top-bar .top-bar-section ul.left .green-btn a {
              width: 150px !important;
              margin: auto; }

  .e-bird {
    padding: 0 10px; }

  .sc-row-top, .sc-row-mid, .sc-row-bot {
    display: table !important; }
    .sc-row-top .sponsor-cell, .sc-row-mid .sponsor-cell, .sc-row-bot .sponsor-cell {
      display: table-cell; }

  .sc-row-top .sponsor-cell {
    padding: 0 15px; }

  .sc-row-mid .sponsor-cell {
    width: 155px !important;
    padding: 0 15px; }

  .sc-row-bot .sponsor-cell {
    width: 110px !important;
    margin: 0 1rem !important;
    padding: 0 6px; } }
@media only screen and (max-width: 600px) {
  .c-in h3 {
    font-size: 40px;
    padding: 40px 0; }

  .descr .descript {
    font-size: 12px; }

  .achiev .ach-in h3 {
    font-size: 25px;
    padding: 35px 0; }
  .achiev .ach-in .ach .title {
    font-size: 20px; } }
@media only screen and (max-width: 560px) {
  .t-type {
    font-size: 14px; }

  table th .price {
    font-size: 18px; }
  table thead p, table tr p, table th p, table td p {
    padding: 0 0 !important; }
  table thead h3, table tr h3, table th h3, table td h3 {
    font-size: 17px !important; }

  .gold {
    background-size: 37px; }

  .times {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    margin-top: 0; }
    .times .time-in {
      width: auto !important;
      margin: 0 !important; }
      .times .time-in p {
        width: auto !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        padding-left: 0 !important; }

  tr td .green_btn {
    width: 90px;
    margin-bottom: 0; } }
@media only screen and (max-width: 549px) {
  .form-content {
    padding: 10px 0; } }
@media only screen and (max-width: 450px) {
  .wdc-bottom .class-type .ct-in-left {
    width: 100%; }
  .wdc-bottom .class-type .ct-in-right {
    width: 200px;
    float: none;
    margin: auto; } }

/*# sourceMappingURL=media.css.map */
