.rows {
  max-width: 1081px;
  margin: auto; }

header {
  overflow: hidden;
  background-color: #1d1d1d; }

.green-btn a {
  color: white;
  background-color: #16a61e !important;
  border-radius: 5px;
  padding: 10px 10px 6px 10px !important;
  margin-top: 7px;
  border-bottom: none !important; }
  .green-btn a:hover {
    transition: 0.5s;
    background-color: white !important;
    color: black !important; }

.content {
  overflow: hidden;
  clear: both;
  padding: 0 10px; }
  .content p, .content h3 {
    color: white; }

.index {
  background-image: url("../img/index-cont.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.c-in {
  padding: 0 0.9375rem;
  overflow: hidden;
  margin-bottom: 20px; }
  .c-in p {
    font-size: 15px;
    margin-bottom: 15px; }
  .c-in h3 {
    text-align: center;
    font-size: 47px;
    font-weight: bold;
    padding: 75px 0; }

.photo {
  width: 280px;
  max-width: 26%;
  float: left;
  height: 375px; }

.s-text {
  padding: 0 0px 0 75px;
  max-width: 74%;
  float: left;
  margin-top: -6px; }

.clients {
  background-color: white;
  overflow: hidden; }
  .clients .cl-cont {
    max-width: 1081px;
    margin: auto;
    padding-bottom: 85px; }
    .clients .cl-cont .cl-in {
      overflow: hidden; }
  .clients h3 {
    font-size: 30px;
    text-align: center;
    margin: 80px 0 30px 0;
    font-weight: bold; }

.cl-logo {
  width: 17%;
  height: 62px;
  margin: 10px 4%;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }

.cl-l1 {
  background-image: url("../img/Goodyear.png"); }
  .cl-l1:hover {
    background-image: url("../img/Goodyear-c.png"); }

.cl-l2 {
  background-image: url("../img/Motorola.png"); }
  .cl-l2:hover {
    background-image: url("../img/Motorola-c.png"); }

.cl-l3 {
  background-image: url("../img/Turner.png"); }
  .cl-l3:hover {
    background-image: url("../img/Turner-c.png"); }

.cl-l4 {
  background-image: url("../img/SherylCrow.png"); }
  .cl-l4:hover {
    background-image: url("../img/SherylCrow-c.png"); }

.cl-l5 {
  background-image: url("../img/WarnerBros.png"); }
  .cl-l5:hover {
    background-image: url("../img/WarnerBros-c.png"); }

.cl-l6 {
  background-image: url("../img/TGIFridays.png"); }
  .cl-l6:hover {
    background-image: url("../img/TGIFridays-c.png"); }

.cl-l7 {
  background-image: url("../img/Rode_logo.png"); }
  .cl-l7:hover {
    background-image: url("../img/Rode_logo-c.png"); }

.cl-l8 {
  background-image: url("../img/TimeWarner.png"); }
  .cl-l8:hover {
    background-image: url("../img/TimeWarner-c.png"); }

.cl-l9 {
  background-image: url("../img/HBO.png");
  background-size: 66%; }
  .cl-l9:hover {
    background-image: url("../img/HBO-c.png"); }

.cl-l10 {
  background-image: url("../img/Sam'sClub.png"); }
  .cl-l10:hover {
    background-image: url("../img/Sam'sClub-c.png"); }

.cl-l11 {
  background-image: url("../img/MakeaWish.png"); }
  .cl-l11:hover {
    background-image: url("../img/MakeaWish-c.png"); }

.cl-l12 {
  color: #e74736;
  float: left;
  margin: 23px 3.5%;
  width: 15%;
  text-align: center; }
  .cl-l12:hover {
    color: red; }

.green_btn {
  text-align: center;
  display: block;
  margin: auto;
  width: 150px;
  margin-bottom: 50px;
  color: white !important;
  background-color: #16a61e !important;
  border-radius: 5px;
  padding: 10px 10px 6px 10px !important; }
  .green_btn:hover {
    transition: 0.5s;
    background-color: #1ce826 !important;
    color: black !important; }

.achiev {
  background-color: #f4f4f4;
  overflow: hidden;
  clear: both; }
  .achiev .ach-in {
    max-width: 1081px;
    margin: auto;
    overflow: hidden;
    padding: 0 10px; }
    .achiev .ach-in .ach-in-cont {
      margin-bottom: 50px;
      overflow: hidden; }
    .achiev .ach-in h3 {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      padding: 80px 0 50px 0; }
    .achiev .ach-in .ach {
      width: 23%;
      float: left;
      margin: 0 1%; }
      .achiev .ach-in .ach .title {
        font-weight: bold;
        font-size: 23px; }
      .achiev .ach-in .ach p {
        text-align: center; }
      .achiev .ach-in .ach .ach-img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 50%;
        height: 100px;
        margin: auto; }

.descr {
  margin-top: 10px; }
  .descr .descript {
    font-size: 15px;
    margin-bottom: 0; }

.ai-1 {
  background-image: url("../img/Wreath.png"); }

.ai-2 {
  background-image: url("../img/Chair.png"); }

.ai-3 {
  background-image: url("../img/Screen.png"); }

.ai-4 {
  background-image: url("../img/Diamond.png"); }

.jackbox .video {
  background-color: #2c2c2c;
  overflow: hidden; }
  .jackbox .video .vd-cont {
    max-width: 1081px;
    margin: auto;
    padding: 50px 10px 0 10px; }
    .jackbox .video .vd-cont .vdc-in {
      margin-bottom: 70px;
      overflow: hidden; }

.left {
  width: 55%; }
  .left iframe {
    width: 90%; }

.right {
  width: 40%; }
  .right h3 {
    margin-top: -6px;
    color: white;
    max-width: 300px; }
  .right .client-p {
    width: 60px;
    float: left; }
  .right .client-a {
    float: left;
    color: #e74736; }
  .right p {
    float: left;
    color: white;
    margin-bottom: 20px; }

.people {
  background-color: #f4f4f4;
  clear: both;
  overflow: hidden; }
  .people .pl-in {
    max-width: 1081px;
    margin: auto;
    padding: 0 10px; }
    .people .pl-in .quote {
      max-width: 836px;
      margin: auto; }
      .people .pl-in .quote p {
        color: #2c2c2c;
        font-size: 15px;
        font-style: oblique; }
    .people .pl-in .scope {
      background-image: url("../img/scope.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 35px;
      margin: 90px auto 50px auto; }

.portrets {
  margin: 90px auto 60px auto;
  overflow: hidden; }

.pt-in {
  width: 20%;
  float: left;
  margin: 0 2.5%; }

.pti {
  width: 140px;
  margin: auto;
  text-align: center;
  display: block;
  opacity: 0.69; }

.pti:hover {
  opacity: 1 !important; }

.pti-in {
  width: 69px;
  height: 69px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 19px; }

.ph-1 {
  background-image: url("../img/phil.png"); }

.ph-2 {
  background-image: url("../img/vincent.png"); }

.ph-3 {
  background-image: url("../img/david.png"); }

.ph-4 {
  background-image: url("../img/dale.png"); }

.p-name p {
  margin-bottom: 0px;
  color: #2c2c2c; }
  .p-name p:first-child {
    color: #e74736; }

footer {
  width: 100%;
  background-color: #1d1d1d; }
  footer #footer {
    max-width: 1081px;
    margin: auto;
    padding: 13px 10px 0 0;
    overflow: hidden; }

.rights {
  float: left;
  width: 70%; }
  .rights a {
    color: white;
    font-size: 12px;
    margin-left: 10px; }
    .rights a:hover {
      color: #e74736; }
  .rights p {
    font-size: 12px;
    margin: 0 10px 0 10px;
    float: left;
    color: white; }
  .rights .arr {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 10px; }

.social {
  float: right;
  margin-top: -3px; }
  .social a {
    margin: 0 3px; }
    .social a .fa {
      text-align: center;
      width: 20px;
      background-color: white;
      padding-top: 2px;
      border-radius: 2px;
      font-size: 20px; }
      .social a .fa:before {
        color: #2c2c2c; }
    .social a:hover .fa {
      background-color: #e74736; }
      .social a:hover .fa:before {
        color: white; }

.conty {
  padding: 0 10px;
  max-width: 1081px;
  margin: auto; }
  .conty .wsdown {
    margin-top: 0; }

.ws {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: bold; }

.map {
  background-image: url("../img/Map.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  position: relative;
  width: 890px;
  height: 605px; }

.town {
  position: absolute;
  background-image: url("../img/Pin.png");
  background-repeat: no-repeat;
  background-size: 19px;
  width: 125px;
  padding-left: 20px;
  cursor: pointer; }
  .town p {
    color: #1d1d1d;
    font-size: 14px;
    margin-bottom: 0; }

#t1 {
  left: 184px;
  top: 17px; }

#t2 {
  top: 24px;
  left: 59px; }

#t3 {
  top: 65px;
  left: 58px; }

#t4 {
  top: 237px;
  left: 21px; }

#t5 {
  top: 309px;
  left: 72px; }

#t6 {
  top: 327px;
  left: 77px; }

#t7 {
  top: 351px;
  left: 169px; }

#t8 {
  top: 230px;
  left: 283px; }

#t9 {
  top: 359px;
  left: 410px; }

#t10 {
  top: 260px;
  left: 461px; }

#t11 {
  top: 413px;
  left: 397px; }

#t12 {
  top: 428px;
  left: 431px; }

#t13 {
  top: 436px;
  left: 637px; }

#t14 {
  top: 465px;
  left: 680px; }

#t15 {
  top: 327px;
  left: 589px; }

#t16 {
  top: 284px;
  left: 671px; }

#t17 {
  top: 218px;
  left: 684px; }

#t18 {
  top: 214px;
  left: 596px; }

#t19 {
  top: 186px;
  left: 526px; }

#t20 {
  top: 146px;
  left: 441px; }

#t21 {
  top: 172px;
  left: 584px; }

#t22 {
  top: 129px;
  left: 638px; }

#t23 {
  top: 85px;
  left: 697px; }

#t24 {
  top: 135px;
  left: 751px; }

#t25 {
  top: 175px;
  left: 719px; }

#t26 {
  top: 194px;
  left: 704px; }

#t27 {
  top: 179px;
  left: 635px;
  background-position: 81px 0;
  padding-bottom: 17px;
  font-size: 13px;
  background-size: 17px; }
  #t27 p {
    font-size: 12px; }

.wsdown {
  background-color: #e73e3d;
  display: block;
  width: 410px;
  height: 70px;
  border-radius: 4px;
  margin: 40px auto 50px auto;
  background-image: url("../img/download.png");
  background-position: 21px 18px;
  background-repeat: no-repeat;
  background-size: 30px;
  text-align: center;
  padding-left: 69px;
  padding-top: 12px;
  color: white;
  font-size: 14px; }
  .wsdown:hover {
    background-color: #f53f3e;
    color: white; }
  .wsdown p {
    margin-bottom: 0;
    float: left;
    font-size: 14px; }
  .wsdown .span {
    margin-left: 5px;
    font-weight: bold; }

.register {
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.38); }
  .register .green_btn {
    width: 200px;
    text-align: center;
    margin: 0; }
  .register .form {
    background-color: #f5f5f5;
    padding: 25px 10px 5px 10px; }
    .register .form .form-in {
      overflow: hidden; }
      .register .form .form-in .green_btn {
        float: right;
        margin-bottom: 0;
        margin-top: 10px; }

#rt1 .form-map {
  background-image: url("../img/1.png"); }

#rt2 .form-map {
  background-image: url("../img/2.png"); }

#rt3 .form-map {
  background-image: url("../img/3.png"); }

#rt4 .form-map {
  background-image: url("../img/4.png"); }

#rt5 .form-map {
  background-image: url("../img/5.png"); }

#rt6 .form-map {
  background-image: url("../img/6.png"); }

#rt7 .form-map {
  background-image: url("../img/7.png"); }

#rt8 .form-map {
  background-image: url("../img/8.png"); }

#rt9 .form-map {
  background-image: url("../img/9.png"); }

#rt10 .form-map {
  background-image: url("../img/10.png"); }

#rt11 .form-map {
  background-image: url("../img/11.png"); }

#rt12 .form-map {
  background-image: url("../img/12.png"); }

#rt13 .form-map {
  background-image: url("../img/13.png"); }

#rt14 .form-map {
  background-image: url("../img/14.png"); }

#rt15 .form-map {
  background-image: url("../img/15.png"); }

#rt16 .form-map {
  background-image: url("../img/16.png"); }

#rt17 .form-map {
  background-image: url("../img/17.png"); }

#rt18 .form-map {
  background-image: url("../img/18.png"); }

#rt19 .form-map {
  background-image: url("../img/19.png"); }

#rt20 .form-map {
  background-image: url("../img/20.png"); }

#rt21 .form-map {
  background-image: url("../img/21.png"); }

#rt22 .form-map {
  background-image: url("../img/22.png"); }

#rt23 .form-map {
  background-image: url("../img/23.png"); }

#rt24 .form-map {
  background-image: url("../img/24.png"); }

#rt25 .form-map {
  background-image: url("../img/25.png"); }

#rt26 .form-map {
  background-image: url("../img/26.png"); }

#rt27 .form-map {
  background-image: url("../img/27.png"); }

.form-map {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 70px;
  width: 70px;
  float: left; }

.city-name {
  float: left;
  margin: 0 21px;
  width: 267px;
  text-align: center; }
  .city-name h3 {
    font-size: 30px;
    color: #1d1d1d;
    font-weight: bold; }
  .city-name p {
    font-size: 12px;
    color: #1d1d1d; }

.calendar {
  width: 125px;
  float: left;
  margin: 0 5% 0% 6%; }
  .calendar .c-in-date2 {
    float: right; }
  .calendar .c-in-date1, .calendar .c-in-date2 {
    float: left;
    height: 54px;
    width: 50px;
    border: 1px solid #1d1d1d;
    background-color: white;
    text-align: center;
    margin: 0px 5%; }
    .calendar .c-in-date1 .number, .calendar .c-in-date2 .number {
      color: #e73e3d;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.1;
      margin-bottom: 0; }
    .calendar .c-in-date1 .month, .calendar .c-in-date1 .day, .calendar .c-in-date2 .month, .calendar .c-in-date2 .day {
      font-size: 10px;
      font-weight: bold;
      margin-bottom: 0;
      color: #1d1d1d; }

.form-info {
  background-image: url("../img/info.png");
  padding: 4px 0 0px 20px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0px 6px;
  float: left;
  width: 20%;
  margin-top: 15px;
  text-transform: uppercase; }
  .form-info p {
    cursor: pointer;
    font-size: 14px;
    color: #1d1d1d; }
    .form-info p:hover {
      opacity: 0.8; }

.register.active .form-content {
  display: block !important; }
.register.active .rg {
  background-color: #8ad28e !important;
  cursor: not-allowed !important; }
  .register.active .rg:hover {
    background-color: #8ad28e !important;
    color: white !important; }

.passive {
  background-color: #8ad28e !important;
  cursor: not-allowed !important; }
  .passive:hover {
    background-color: #8ad28e !important;
    color: white !important; }

.form-content {
  display: none;
  background-color: #fff;
  overflow: hidden;
  padding: 10px 20px 25px 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.38); }
  .form-content .left {
    width: 37%;
    margin-top: 48px; }
  .form-content .right {
    width: 60%; }
  .form-content .location {
    float: left; }
    .form-content .location h4 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      line-height: 1;
      margin-top: 15px; }
    .form-content .location p {
      margin: 0;
      font-size: 14px;
      color: #1d1d1d; }
  .form-content .spec-instr p, .form-content .ticket-spec p {
    color: #1d1d1d;
    font-size: 14px;
    margin: 0; }
  .form-content .spec-instr h4, .form-content .ticket-spec h4 {
    text-transform: uppercase;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: 15px;
    line-height: 1.1; }

.ticket-spec {
  background-image: url("../img/Sticker.png");
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 0 0;
  padding-left: 83px;
  margin-top: 40px; }

.left-in1 {
  overflow: hidden;
  width: 40%;
  float: left; }

.left-in2 {
  overflow: hidden;
  width: 51%;
  float: right; }

.lg {
  color: #16a61e !important;
  font-weight: bold; }

.prices {
  text-align: center;
  width: 155px;
  float: left;
  margin: 0 5%; }
  .prices:first-child {
    margin-left: 2%; }
  .prices:last-child {
    margin-right: 0; }
  .prices .green_btn {
    margin: auto;
    width: 155px; }
  .prices .red-btn {
    background-color: #e73e3d !important; }
    .prices .red-btn:hover {
      background-color: #f24140 !important; }
  .prices h3 {
    color: #1d1d1d;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 14px;
    margin-bottom: 0; }
  .prices p {
    float: none;
    color: #1d1d1d;
    margin-bottom: 0;
    font-size: 14px; }
  .prices .time {
    font-size: 14px;
    color: #adadad;
    float: none;
    margin-bottom: 0; }
  .prices .price {
    padding: 22px 0;
    font-size: 24px;
    font-weight: bold; }
  .prices .green_btn {
    width: 150px; }

@media only screen and (max-width: 1090px) {
  .register .form .form-in .green_btn {
    float: left;
    margin-bottom: 0;
    margin-top: 10px; }
  .register .form .form-in .form-info {
    width: auto;
    margin: auto;
    padding: 4px 0 0px 36px;
    background-position: 15px 6px;
    float: left;
    height: 30px; }
  .register .form .form-in .calendar {
    float: left;
    margin: 0 5% 0% 14%; }
  .register .form .form-in .fi-right {
    overflow: hidden;
    width: 200px;
    float: right; } }
@media only screen and (max-width: 1071px) {
  .logo {
    width: 180px;
    margin: auto;
    float: none;
    padding: 0; }

  .menu {
    float: none !important;
    padding: 0;
    margin: auto; }

  .prices {
    margin: 0 2%; }
    .prices:first-child {
      margin: 0; } }
@media only screen and (max-width: 1000px) {
  .register .form .form-in .calendar {
    float: left;
    margin: 0 5% 0% 10%; } }
@media only screen and (max-width: 950px) {
  .form-content .right {
    width: 485px; }
    .form-content .right .prices {
      margin: 0 2%; }
      .form-content .right .prices:last-child {
        margin: auto;
        float: left; }
      .form-content .right .prices:first-child {
        margin: auto;
        float: left; } }
@media only screen and (max-width: 918px) {
  .form-content .left {
    width: auto;
    margin-top: 0; }
    .form-content .left .left-in1, .form-content .left .left-in2 {
      width: auto;
      float: none; }

  .ticket-spec {
    margin-top: 10px; } }
@media only screen and (max-width: 915px) {
  .map {
    display: none; }

  .ws {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 39px; } }
@media only screen and (max-width: 885px) {
  .register .form .form-in .calendar {
    float: left;
    margin: 0 5% 0% 5%; } }
@media only screen and (max-width: 840px) {
  .register .form .form-in .calendar {
    float: left;
    margin: 0 5% 0% 2%; } }
@media only screen and (max-width: 813px) {
  .register .form .form-in .calendar {
    margin: 0; } }
@media only screen and (max-width: 800px) {
  .register .form .form-in .calendar {
    float: left;
    margin: 0; } }
@media only screen and (max-width: 780px) {
  .register .form {
    padding: 10px 10px 5px 10px; }
    .register .form .form-in .green_btn {
      margin-bottom: 10px; }
    .register .form .form-in .fm-cn {
      overflow: hidden;
      width: 450px;
      margin: auto;
      float: none;
      clear: both;
      padding-left: 3%; }
      .register .form .form-in .fm-cn .form-map {
        background-position: initial; }
      .register .form .form-in .fm-cn .city-name {
        margin: auto;
        float: left; }
        .register .form .form-in .fm-cn .city-name p {
          margin-bottom: 10px; }
    .register .form .form-in .calendar {
      margin: auto;
      float: none;
      overflow: hidden; }
    .register .form .form-in .fi-right {
      overflow: hidden;
      float: none;
      margin: auto;
      width: 200px; }
      .register .form .form-in .fi-right .form-info {
        margin-top: 10px; } }
@media only screen and (max-width: 750px) {
  .register .form-content .left {
    width: 400px;
    overflow: hidden;
    margin: auto;
    float: none !important; }
    .register .form-content .left .left-in1 {
      width: 150px;
      margin: auto;
      float: left; }
    .register .form-content .left .left-in2 {
      width: 200px;
      float: right; }
  .register .form-content .right {
    margin: auto;
    float: none !important;
    overflow: hidden;
    width: 485px; }

  .prices .price {
    padding: 10px 0; }

  .ticket-spec {
    margin-top: 30px; } }
@media only screen and (max-width: 700px) {
  .sc-row-top .sponsor-cell {
    margin: 0 2rem !important; }

  .sc-row-mid .sponsor-cell {
    width: 100px !important; }

  .sc-row-bot .sponsor-cell {
    width: 66px !important;
    margin: 0 1rem !important; } }
@media only screen and (max-width: 650px) {
  .quote p {
    text-align: center; }

  .pt-in {
    margin: 0 0 20px 0;
    width: 50%; }

  .class-type .green_btn {
    float: none !important; }
  .class-type h3 {
    margin-top: 60px !important; }

  .ct-in .ct-in-right {
    float: right;
    width: 55%; } }
@media only screen and (max-width: 640px) {
  .green-btn a {
    width: 22% !important;
    text-align: center;
    margin: 0 2% 15px; }

  .menu {
    position: absolute; }
    .menu .top-bar {
      position: relative; }
      .menu .top-bar ul {
        position: relative; }
      .menu .top-bar .top-bar-section {
        position: relative; }
        .menu .top-bar .top-bar-section ul.left {
          position: relative; }
          .menu .top-bar .top-bar-section ul.left li {
            position: relative;
            background-color: rgba(29, 29, 29, 0.96);
            text-align: center; }
            .menu .top-bar .top-bar-section ul.left li:hover {
              background-color: rgba(107, 107, 107, 0.96); }
            .menu .top-bar .top-bar-section ul.left li a {
              padding: 12px 0 12px 0; }
          .menu .top-bar .top-bar-section ul.left .green-btn {
            padding-bottom: 20px; }
            .menu .top-bar .top-bar-section ul.left .green-btn:hover {
              background-color: rgba(29, 29, 29, 0.96); }
            .menu .top-bar .top-bar-section ul.left .green-btn a {
              width: 150px !important;
              margin: auto; }

  .e-bird {
    padding: 0 10px; }

  .sc-row-top, .sc-row-mid, .sc-row-bot {
    display: table !important; }
    .sc-row-top .sponsor-cell, .sc-row-mid .sponsor-cell, .sc-row-bot .sponsor-cell {
      display: table-cell; }

  .sc-row-top .sponsor-cell {
    padding: 0 15px; }

  .sc-row-mid .sponsor-cell {
    width: 155px !important;
    padding: 0 15px; }

  .sc-row-bot .sponsor-cell {
    width: 110px !important;
    margin: 0 1rem !important;
    padding: 0 6px; } }
@media only screen and (max-width: 600px) {
  .c-in h3 {
    font-size: 40px;
    padding: 40px 0; }

  .descr .descript {
    font-size: 12px; }

  .achiev .ach-in h3 {
    font-size: 25px;
    padding: 35px 0; }
  .achiev .ach-in .ach .title {
    font-size: 20px; } }
@media only screen and (max-width: 560px) {
  .t-type {
    font-size: 14px; }

  table th .price {
    font-size: 18px; }
  table thead p, table tr p, table th p, table td p {
    padding: 0 0 !important; }
  table thead h3, table tr h3, table th h3, table td h3 {
    font-size: 17px !important; }

  .gold {
    background-size: 37px; }

  .times {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    margin-top: 0; }
    .times .time-in {
      width: auto !important;
      margin: 0 !important; }
      .times .time-in p {
        width: auto !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        padding-left: 0 !important; }

  tr td .green_btn {
    width: 90px;
    margin-bottom: 0; } }
@media only screen and (max-width: 549px) {
  .form-content {
    padding: 10px 0; } }
@media only screen and (max-width: 450px) {
  .wdc-bottom .class-type .ct-in-left {
    width: 100%; }
  .wdc-bottom .class-type .ct-in-right {
    width: 200px;
    float: none;
    margin: auto; } }
.ws-page {
  background-image: url("../img/workshop-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .ws-page .c-in {
    padding-bottom: 50px; }

.tickets {
  max-width: 1081px;
  margin: auto;
  padding: 0 20px; }
  .tickets .tk {
    font-size: 15px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 10px; }

table {
  clear: both;
  border-spacing: 0;
  background: none;
  border: none; }
  table thead, table tr, table th, table td {
    font-size: 14px;
    text-align: center !important;
    color: #1d1d1d !important; }
    table thead p, table tr p, table th p, table td p {
      color: #1d1d1d;
      margin-bottom: 0;
      padding: 0 40px; }
    table thead h3, table tr h3, table th h3, table td h3 {
      font-size: 30px;
      font-weight: bold; }

tr th:first-child {
  border: 1px solid #adadad; }
tr th:nth-child(2) {
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad; }

.greyi {
  border-left: 1px solid #adadad;
  border-right: 1px solid #adadad; }

.last-grey {
  border-bottom: 1px solid #adadad; }

th {
  background-color: #f5f5f5;
  padding-top: 20px !important; }
  th p:first-child {
    color: #adadad; }
  th .price {
    font-size: 30px; }

td {
  background-color: white; }
  td p {
    margin-bottom: 25px;
    font-size: 14px; }

.times {
  padding-top: 45px;
  padding-bottom: 10px; }
  .times p {
    color: #e74736; }
  .times .time-in {
    margin: auto;
    width: 130px; }
    .times .time-in img {
      float: left;
      width: 14px;
      height: 14px;
      margin-top: 2px; }
    .times .time-in p {
      width: 175px;
      padding-left: 0;
      margin-left: 10px; }

.gold {
  background-image: url("../img/Sticker.png");
  background-repeat: no-repeat;
  background-position: 95% 7px;
  background-size: 50px;
  background-color: #fec52e; }
  .gold .t-type {
    color: white;
    text-transform: uppercase; }

.goldy {
  border-left: 1px solid #fec52e;
  border-right: 1px solid #fec52e;
  background-color: #fefbeb; }
  .goldy p {
    font-size: 14px; }

.gl {
  border-bottom: 1px solid #fec52e; }

.e-bird {
  clear: both; }
  .e-bird img {
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
    margin-bottom: 10px; }
  .e-bird h4 {
    font-size: 14px;
    color: #fec52e;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }
  .e-bird p {
    text-align: center;
    max-width: 820px;
    margin: auto; }

.class-type {
  clear: both;
  overflow: hidden;
  padding: 0 10px;
  max-width: 1081px;
  margin: auto; }
  .class-type h3 {
    margin-top: 90px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #e74736;
    font-weight: bold;
    font-size: 24px; }
  .class-type p {
    font-size: 14px; }
  .class-type .green_btn {
    clear: both;
    float: left; }
    .class-type .green_btn a {
      color: white !important; }
    .class-type .green_btn:hover a {
      color: #e6cea6; }

.ct-in-left {
  float: left;
  width: 35%; }
  .ct-in-left .times {
    background-image: url("../img/clock.png");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 1px 3px;
    color: #e74736;
    padding: 0 0 0 25px;
    font-weight: bold; }
  .ct-in-left ul li {
    font-size: 14px;
    list-style-image: url("../img/mark.png"); }

.ct-in-right {
  width: 65%;
  float: left; }

.conty h3 {
  text-align: center;
  font-size: 47px;
  font-weight: bold;
  margin-top: 80px; }

.wd-content {
  max-width: 700px;
  margin: 50px auto 0 auto; }

.wdc-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center; }

.wdc-bottom .class-type {
  padding: 0; }
.wdc-bottom .ct-in-left {
  width: 50%; }
  .wdc-bottom .ct-in-left ul li {
    font-size: 1rem; }
.wdc-bottom .ct-in-right {
  width: 50%; }
  .wdc-bottom .ct-in-right p {
    font-size: 30px;
    text-align: center; }
  .wdc-bottom .ct-in-right .red-btn {
    margin: auto;
    float: none;
    border-radius: 2px;
    width: 200px;
    background-color: #e73e3d !important; }
    .wdc-bottom .ct-in-right .red-btn:hover {
      background-color: #f24140 !important; }

.sponsor-cont {
  max-width: 900px; }
  .sponsor-cont p {
    font-size: 16px;
    text-align: center; }
  .sponsor-cont .spt-b {
    font-weight: bold;
    margin-bottom: 70px; }
  .sponsor-cont h3 {
    margin-bottom: 50px; }

.sp-text {
  max-width: 550px;
  text-align: center;
  margin: auto;
  margin-bottom: 25px; }
  .sp-text span {
    color: #e74736;
    font-weight: bold;
    text-transform: uppercase; }

.sc-row-top, .sc-row-mid, .sc-row-bot {
  overflow: hidden;
  display: flex; }

.sc-row-top {
  display: flex;
  max-width: 800px;
  margin: auto;
  margin-bottom: 60px; }
  .sc-row-top .sponsor-cell {
    margin: 0 3rem; }

.sc-row-mid {
  max-width: 880px;
  margin: auto;
  align-items: center;
  margin-top: 15px; }
  .sc-row-mid:last-child {
    margin-bottom: 30px; }
  .sc-row-mid .sponsor-cell {
    margin: 0 2rem;
    width: 155px;
    justify-content: center;
    align-items: center; }

.sc-row-bot {
  max-width: 880px;
  margin: auto;
  align-items: center; }
  .sc-row-bot:first-child {
    margin-top: 20px; }
  .sc-row-bot:last-child {
    margin-bottom: 90px; }
  .sc-row-bot .sponsor-cell {
    margin: 0 2rem;
    width: 130px; }

@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirLTStd-Medium.otf"); }

/*# sourceMappingURL=style.css.map */
