%html
  %head{lang:"en"}
    %meta{charset:"UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{href:"css/foundation.css", rel:"stylesheet"}/
    %link{href:"css/style.css", rel: "stylesheet"}/
    %link{href:"//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel:"stylesheet"}/
    %title WorkShop Download
  %body
    .wrapper
      %header
        .rows
          .large-2.small-2.columns.logo
            %a{href:"#"}
              %img{src:"img/logo.png", alt:""}
          .large-10.medium-9.columns.menu
            %nav.top-bar{"data-topbar" => "", :role => "navigation", "data-option" => "is_hover: false"}
              %ul.title-area
                %li.name
                %li.toggle-topbar.menu-icon
                  %a{href:"#"}
                    %span Menu
              %section.top-bar-section
                %ul.left
                  %li
                    %a{href:"#"} Home
                  %li
                    %a{href:"#"} Adam`s story
                  %li
                    %a{href:"#"} Workshop
                  %li
                    %a{href:"#"} Sponsors
                  %li
                    %a{href:"#"} Questions
                  %li
                    %a{href:"#"} Workshop downloads
                  %li.green-btn
                    %a{href:"#"} Dates+Register
      .jackbox
        .conty.sponsor-cont
          %h3 Sponsors
          %p.sp-text We would like to extend a very heartfelt <span> THANK YOU </span>to all our wonderful sponsors who have helped to make this Workshop Series  possible.
          %p.spt-b  Please help us support them as they have supported us!

          .sc-row-top
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/adobe.png"}
            .sponsor-cell
              %a{href:"#"}
                %img.wide{src:"img/blackmagic.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/zeiss.png"}
          .sc-row-mid
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/kessler.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/cinevate.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/westcott.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/teradek.png"}
          .sc-row-mid
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/litepanels.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/antonbauer.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/sachtler.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/atomos1.png"}
          .sc-row-mid
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/rode-spons.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/pelican.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/rycote.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/roland.png"}
          .sc-row-mid
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/lenstgo.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/x-rite.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/tiffen.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/steadicam.png"}
          .sc-row-mid
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/zakuto.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/sekonic.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/lacie.png"}
          .sc-row-bot
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/callu.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/UP.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/procam_logo.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/mid_west.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/north-tampa.png"}
          .sc-row-bot
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/showcase.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/tamp-camera.png"}
            .sponsor-cell
              %a{href:"#"}
                %img{src:"img/sam-camera.png"}

        .people
          .pl-in
            .scope
            .quote
              %P “Audio is as important if not more important than video and if you don't know what you are doing in that area all your hard work with the image is wasted. Adam breaks down everything you need to know into understandable, coherent sections …which will leave you much the wiser, more confident and ready to record great sound! He is a fantastic teacher who clearly loves what he teaches and that comes across making it a pleasure to listen to!”
            .portrets
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-1
                  .p-name
                    %p Philip Bloom
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-2
                  .p-name
                    %p Vincent Laforet
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-3
                  .p-name
                    %p David Ruby
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-4
                  .p-name
                    %p Dale Owen
                    %p Cinematographer, Filmmaker
      %footer
        #footer
          .rights
            %p ©2015 StorytellingUnleashed.com
            %p.arr  All rights reserved
            %a{href:"mailto:team@storytellingunleashed.com"} Team@StorytellingUnleashed.com
          .social
            %a{href:"#"}
              %i.fa.fa-facebook
            %a{href:"#"}
              %i.fa.fa-instagram
            %a{href:"#"}
              %i.fa.fa-tumblr
            %a{href:"#"}
              %i.fa.fa-twitter
    %script{src:"js/vendor/jquery.js"}
    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"}
    %script{src:"js/foundation.min.js"}
    :javascript
      $(document).foundation();