.t-title

  .t-title
    %p.t-type Extended
    %h3 Master Class
    %p.price $150
  %td.gold
    %p.t-type Premium
    %h3 Premium Ticket
    %p.price $225
  %tr.t-info
    %td
      %p.times 5:30PM-10:00PM
      %p <b>Ticket</b> to Classroom Session
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Filler Text</b> for Bullet Point
      %p Filler Text for <b>Bullet Point</b>
    %td
      %p.times 8:30PM-11:00PM
      %p <b>Ticket</b> to Master Class
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Certificate</b> of Ongoing Education for Filmmakers
    %td.goldy
      %p.times Classroom Session + Master Class
      %p <b>Ticket</b> to Classroom Session
      %p <b>Ticket</b> to Master Class
      %p Classroom Session
      %span Workshop <b>Download</b>
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Certificate</b> of Ongoing Education for Filmmakers



.ticket-table-resp
  .tblock
    .t-title
      %p.t-type Basic
      %h3 Classroom Session
      %p.price $85
    .t-content
      .times
        %p 8:30PM-11:00PM
      %p <b>Ticket</b> to Classroom Session
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Filler Text</b> for Bullet Point
      %p Filler Text for <b>Bullet Point</b>
      %a.green_btn{href:"#"} REGISTER NOW
  .tblock
    .t-title
      %p.t-type Extended
      %h3 Master Class
      %p.price $150
    .t-content
      .times
        %p 8:30PM-11:00PM
      %p <b>Ticket</b> to Master Class
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Certificate</b> of Ongoing Education for Filmmakers
      %a.green_btn{href:"#"} REGISTER NOW
  .tblock.gold
    .t-title
      %p.t-type Premium
      %h3 Premium Ticket
      %p.price $225
    .t-content
      %p Classroom Session + Master Class
      %p <b>Ticket</b> to Classroom Session
      %p <b>Ticket</b> to Master Class
      %p Classroom Session <span> Workshop <b>Download</b></span>
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Certificate</b> of Ongoing Education for Filmmakers
      %a.green_btn{href:"#"} REGISTER NOW


%html
  %head{lang:"en"}
    %meta{charset:"UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{href:"css/foundation.css", rel:"stylesheet"}/
    %link{href:"css/style.css", rel: "stylesheet"}/
    %link{href:"//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel:"stylesheet"}/
    %title WorkShop Download
  %body
    .wrapper
      %header
        .rows
          .large-2.small-2.columns.logo
            %a{href:"#"}
              %img{src:"img/logo.png", alt:""}
          .large-10.medium-9.columns.menu
            %nav.top-bar{"data-topbar" => "", :role => "navigation", "data-option" => "is_hover: false"}
              %ul.title-area
                %li.name
                %li.toggle-topbar.menu-icon
                  %a{href:"#"}
                    %span Menu
              %section.top-bar-section
                %ul.left
                  %li
                    %a{href:"#"} Home
                  %li
                    %a{href:"#"} Adam`s story
                  %li
                    %a{href:"#"} Workshop
                  %li
                    %a{href:"#"} Sponsors
                  %li
                    %a{href:"#"} Questions
                  %li
                    %a{href:"#"} Workshop downloads
                  %li.green-btn
                    %a{href:"#"} Dates+Register
      .jackbox
        .conty
          %h3 Sponsors
          %p We would like to extend a very heartfelt THANK YOU to all our wonderful sponsors who have helped to make this Workshop Series  possible.
          %p <b> Please help us support them as they have supported us!</b>
        .sponsor-cont
          .sc-row-top
            %img{src:"img/adobe.png"}
            %img{src:"img/blackmagic.png"}
            %img{src:"img/zeiss.png"}
          .sc-row-mid
            %img{src:"img/kessler.png"}
            %img{src:"img/cinevate.png"}
            %img{src:"img/westcott.png"}
            %img{src:"img/teradek.png"}
            %img{src:"img/litepanels.png"}
            %img{src:"img/antonbauer.png"}
            %img{src:"img/sachtler.png"}
            %img{src:"img/atomos.png"}
            %img{src:"img/rode-spons.png"}
            %img{src:"img/pelican.png"}
            %img{src:"img/rycote.png"}
            %img{src:"img/roland.png"}
            %img{src:"img/lenstgo.png"}
            %img{src:"img/x-rite.png"}
            %img{src:"img/tiffen.png"}
            %img{src:"img/steadicam.png"}
            %img{src:"img/zakuto.png"}
            %img{src:"img/sekonic.png"}
            %img{src:"img/lacie.png"}
          .sc-row-bot
            %img{src:"img/callu.png"}
            %img{src:"img/UP.png"}
            %img{src:"img/procam_logo.png"}
            %img{src:"img/mid_west.png"}
            %img{src:"img/north-tampa.png"}
            %img{src:"img/showcase.png"}
            %img{src:"img/tamp-camera.png"}
            %img{src:"img/sam-camera.png"}

        .people
          .pl-in
            .scope
            .quote
              %P “Audio is as important if not more important than video and if you don't know what you are doing in that area all your hard work with the image is wasted. Adam breaks down everything you need to know into understandable, coherent sections …which will leave you much the wiser, more confident and ready to record great sound! He is a fantastic teacher who clearly loves what he teaches and that comes across making it a pleasure to listen to!”
            .portrets
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-1
                  .p-name
                    %p Philip Bloom
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-2
                  .p-name
                    %p Vincent Laforet
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-3
                  .p-name
                    %p David Ruby
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-4
                  .p-name
                    %p Dale Owen
                    %p Cinematographer, Filmmaker
      %footer
        #footer
          .rights
            %p ©2015 StorytellingUnleashed.com
            %p.arr  All rights reserved
            %a{href:"mailto:team@storytellingunleashed.com"} Team@StorytellingUnleashed.com
          .social
            %a{href:"#"}
              %i.fa.fa-facebook
            %a{href:"#"}
              %i.fa.fa-instagram
            %a{href:"#"}
              %i.fa.fa-tumblr
            %a{href:"#"}
              %i.fa.fa-twitter
    %script{src:"js/vendor/jquery.js"}
    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"}
    %script{src:"js/foundation.min.js"}
    :javascript
      $(document).foundation();