.t-title

  .t-title
    %p.t-type Extended
    %h3 Master Class
    %p.price $150
  %td.gold
    %p.t-type Premium
    %h3 Premium Ticket
    %p.price $225
  %tr.t-info
    %td
      %p.times 5:30PM-10:00PM
      %p <b>Ticket</b> to Classroom Session
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Filler Text</b> for Bullet Point
      %p Filler Text for <b>Bullet Point</b>
    %td
      %p.times 8:30PM-11:00PM
      %p <b>Ticket</b> to Master Class
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Certificate</b> of Ongoing Education for Filmmakers
    %td.goldy
      %p.times Classroom Session + Master Class
      %p <b>Ticket</b> to Classroom Session
      %p <b>Ticket</b> to Master Class
      %p Classroom Session
      %span Workshop <b>Download</b>
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Certificate</b> of Ongoing Education for Filmmakers



.ticket-table-resp
  .tblock
    .t-title
      %p.t-type Basic
      %h3 Classroom Session
      %p.price $85
    .t-content
      .times
        %p 8:30PM-11:00PM
      %p <b>Ticket</b> to Classroom Session
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Filler Text</b> for Bullet Point
      %p Filler Text for <b>Bullet Point</b>
      %a.green_btn{href:"#"} REGISTER NOW
  .tblock
    .t-title
      %p.t-type Extended
      %h3 Master Class
      %p.price $150
    .t-content
      .times
        %p 8:30PM-11:00PM
      %p <b>Ticket</b> to Master Class
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Certificate</b> of Ongoing Education for Filmmakers
      %a.green_btn{href:"#"} REGISTER NOW
  .tblock.gold
    .t-title
      %p.t-type Premium
      %h3 Premium Ticket
      %p.price $225
    .t-content
      %p Classroom Session + Master Class
      %p <b>Ticket</b> to Classroom Session
      %p <b>Ticket</b> to Master Class
      %p Classroom Session <span> Workshop <b>Download</b></span>
      %p $200+ Hundrets of Dollars in <b>Discount</b> and <b> Giveaways</b>
      %p <b>Certificate</b> of Ongoing Education for Filmmakers
      %a.green_btn{href:"#"} REGISTER NOW
