%html
  %head{lang:"en"}
    %meta{charset:"UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{href:"css/foundation.css", rel:"stylesheet"}/
    %link{href:"css/style.css", rel: "stylesheet"}/
    %link{href:"//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel:"stylesheet"}/
    %title WorkShop Download
  %body
    .wrapper
      %header
        .rows
          .large-2.small-2.columns.logo
            %a{href:"#"}
              %img{src:"img/logo.png", alt:""}
          .large-10.medium-9.columns.menu
            %nav.top-bar{"data-topbar" => "", :role => "navigation", "data-option" => "is_hover: false"}
              %ul.title-area
                %li.name
                %li.toggle-topbar.menu-icon
                  %a{href:"#"}
                    %span Menu
              %section.top-bar-section
                %ul.left
                  %li
                    %a{href:"index.html"} Home
                  %li
                    %a{href:"story.html"} Adam`s story
                  %li
                    %a{href:"workshop_page.html"} Workshop
                  %li
                    %a{href:"sponsors.html"} Sponsors
                  %li
                    %a{href:"questions.html"} Questions
                  %li
                    %a{href:"workshop_download.html"} Workshop downloads
                  %li.green-btn.btn-current
                    %a{href:"workshop.html"} Dates+Register
      .jackbox
        .conty
          %h3.ws Dates+Register
          .map
            .town#t1
              %p Calgary
            .town#t2
              %p Vancouver
            .town#t3
              %p Seattle
            .town#t4
              %p San-Francisco
            .town#t5
              %p Los Angeles
            .town#t6
              %p Orange County
            .town#t7
              %p Phoenix
            .town#t8
              %p Denver
            .town#t9
              %p Dalas
            .town#t10
              %p St Louis
            .town#t11
              %p Austin
            .town#t12
              %p Houston
            .town#t13
              %p Tampa
            .town#t14
              %p Miami
            .town#t15
              %p Atlanta
            .town#t16
              %p Raleigh
            .town#t17
              %p Washington
            .town#t18
              %p Columbus
            .town#t19
              %p Chicago
            .town#t20
              %p Minneapolis
            .town#t21
              %p Detroit
            .town#t22
              %p Toronto
            .town#t23
              %p Montreal
            .town#t24
              %p Boston
            .town#t25
              %p New York
            .town#t26
              %p Philadelphia
            .town#t27
              %p Jersey City
          %a.wsdown{href:"#"}
            %p Can't make it to one of the workshops?
            %p Get all the info in our
            %p.span WORKSHOP DOWNLOADS
          .reg-forms
            .register#rt26
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Philadelphia, PA
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900
                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt27
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Jersey City, NJ
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900
                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt21
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Detroit, MI
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt18
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Columbus, OH
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt10
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 St Louis, MO
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt8
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Denver, NY
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt14
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Miami, FL
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt13
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Tampa, FL
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900
                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt24
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Boston, MA
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt19
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Chicago, IL
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt20
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Minneapolis, MN
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt15
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Atlanta, GA
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt16
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Raleigh, NC
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt12
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Houston, TX
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt9
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Dallas, TX
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt11
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Austin, TX
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt25
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 New York, NY
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt17
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Washington, DC
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt7
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Phoenx, AZ
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt6
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Orange County, CA
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt5
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Lost Angeles, CA
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt4
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 San-Francisco, CA
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt3
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Seattle, CA
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt22
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Toronto, ON
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt23
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Montreal, SQ
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt1
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Calgary, AB
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
            .register#rt2
              .form
                .form-in
                  .fm-cn
                    .form-map
                    .city-name
                      %h3 Vancouver, BC
                      %p Classroom Session & Masterclass
                  .calendar
                    .c-in-date1
                      %p.month SEP
                      %p.number 02
                      %p.day WED
                    .c-in-date2
                      %p.month SEP
                      %p.number 03
                      %p.day THU
                  .fi-right
                    .form-info
                      %p.mi More Information
                    %a.rg.green_btn{href:"#"} REGISTER NOW
              .form-content
                .left
                  .left-in1
                    .location
                      %h4 LOCATION
                      %p Charleston Plaza Hotel
                      %P 4770 Goer Drive
                      %P Charleston, SC 29406
                      %p 888-747-1900

                  .left-in2
                    .ticket-spec
                      %p EARLY-BIRD
                      %p TICKET SPECIAL
                      %p.lg AVAILABLE
                .right
                  .prices
                    %h3 Classroom Session
                    %p September 2, 2015
                    %p.time 5:30PM-10:00PM
                    %h5.price $85
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Master Class
                    %p September 3, 2015
                    %p.time 9:30AM-11:00PM
                    %h5.price $225
                    %a.green_btn{href:"#"} REGISTER
                  .prices
                    %h3 Golden Ticket
                    %p.time Classroom Session
                    %p.time Master Class
                    %h5.price $250
                    %a.green_btn.red-btn{href:"#"} REGISTER NOW
        %a.wsdown{href:"#"}
          %p Can't make it to one of the workshops?
          %p Get all the info in our
          %p.span WORKSHOP DOWNLOADS
        .people
          .pl-in
            .scope
            .quote
              %P Audio is as important if not more important than video and if you don't know what you are doing in that area all your hard work with the image is wasted. Adam breaks down everything you need to know into understandable, coherent sections which will leave you much the wiser, more confident and ready to record great sound! He is a fantastic teacher who clearly loves what he teaches and that comes across making it a pleasure to listen to!
            .portrets
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-1
                  .p-name
                    %p Philip Bloom
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-2
                  .p-name
                    %p Vincent Laforet
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-3
                  .p-name
                    %p David Ruby
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-4
                  .p-name
                    %p Dale Owen
                    %p Cinematographer, Filmmaker
      %footer
        #footer
          .rights
            %p 2015 StorytellingUnleashed.com
            %p.arr  All rights reserved
            %a{href:"mailto:team@storytellingunleashed.com"} Team@StorytellingUnleashed.com
          .social
            %a{href:"#"}
              %i.fa.fa-facebook
            %a{href:"#"}
              %i.fa.fa-instagram
            %a{href:"#"}
              %i.fa.fa-tumblr
            %a{href:"#"}
              %i.fa.fa-twitter
    %script{src:"js/vendor/jquery.js"}
    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"}
    %script{src:"js/foundation.min.js"}
    %script{src:"js/register.js"}
    :javascript
      $(document).foundation();

