%html
  %head{lang:"en"}
    %meta{charset:"UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{href:"css/foundation.css", rel:"stylesheet"}/
    %link{href:"css/style.css", rel: "stylesheet"}/
    %link{href:"//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel:"stylesheet"}/
    %title WorkShop Download
  %body
    .wrapper
      %header
        .rows
          .large-2.small-2.columns.logo
            %a{href:"#"}
              %img{src:"img/logo.png", alt:""}
          .large-10.medium-9.columns.menu
            %nav.top-bar{"data-topbar" => "", :role => "navigation", "data-option" => "is_hover: false"}
              %ul.title-area
                %li.name
                %li.toggle-topbar.menu-icon
                  %a{href:"#"}
                    %span Menu
              %section.top-bar-section
                %ul.left
                  %li
                    %a{href:"#"} Home
                  %li
                    %a{href:"#"} Adam`s story
                  %li
                    %a{href:"#"} Workshop
                  %li
                    %a{href:"#"} Sponsors
                  %li
                    %a{href:"#"} Questions
                  %li
                    %a{href:"#"} Workshop downloads
                  %li.green-btn
                    %a{href:"#"} Dates+Register
      .jackbox
        .conty
          %h3.ws Dates+Register