%html
  %head{lang:"en"}
    %meta{charset:"UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{href:"css/foundation.css", rel:"stylesheet"}/
    %link{href:"css/style.css", rel: "stylesheet"}/
    %link{href:"//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel:"stylesheet"}/
    %title WorkShop Download
  %body
    .wrapper
      %header
        .rows
          .large-2.small-2.columns.logo
            %a{href:"#"}
              %img{src:"img/logo.png", alt:""}
          .large-10.medium-9.columns.menu
            %nav.top-bar{"data-topbar" => "", :role => "navigation", "data-option" => "is_hover: false"}
              %ul.title-area
                %li.name
                %li.toggle-topbar.menu-icon
                  %a{href:"#"}
                    %span Menu
              %section.top-bar-section
                %ul.left
                  %li
                    %a{href:"#"} Home
                  %li
                    %a{href:"#"} Adam`s story
                  %li
                    %a{href:"#"} Workshop
                  %li
                    %a{href:"#"} Sponsors
                  %li
                    %a{href:"#"} Questions
                  %li
                    %a{href:"#"} Workshop downloads
                  %li.green-btn
                    %a{href:"#"} Dates+Register
      .jackbox
        .conty
          %h3 Workshop Downloads
          .wd-content
            %p.wdc-title Classroom Session Workshop Video:
            .wdc-p
              %P If you could not attend one of Adam’s Classroom Sessions do not fret! This video covers the entire class with full segments, from Types of Films to Growing Your Business.
              %p If you have already signed up for or attended a class it is your lucky day! Each person who has purchased a Golden Ticket will receive this video automatically.
              %p This Classroom Session Workshop Video covers the following topics and will be available by November 15:
            .wdc-bottom
              .class-type
                .ct-in
                  .ct-in-left
                    %ul
                      %li Type of Films
                      %li Planning Your Story
                      %li Key Element of your Film
                      %li Essential Filming Principles & Techniques
                      %li Editing your Story
                      %li Color Correction / Color Grading
                      %li Growing your Business
                  .ct-in-right
                    %p Price <b>$85</b>
                    %a.green_btn.red-btn{href:"#"} ORDER NOW
          .wd-content
            %p.wdc-title Audio In-Depth Tutorial:
            .wdc-p
              %P If you could not attend one of Adam’s Classroom Sessions do not fret! This video covers the entire class with full segments, from Types of Films to Growing Your Business.
              %p If you have already signed up for or attended a class it is your lucky day! Each person who has purchased a Golden Ticket will receive this video automatically.
              %p This Classroom Session Workshop Video covers the following topics and will be available by November 15:
            .wdc-bottom
              .class-type
                .ct-in
                  .ct-in-left
                    %ul
                      %li Type of Films
                      %li Planning Your Story
                      %li Key Element of your Film
                      %li Essential Filming Principles & Techniques
                      %li Editing your Story
                      %li Color Correction / Color Grading
                      %li Growing your Business
                  .ct-in-right
                    %p Price <b>$85</b>
                    %a.green_btn.red-btn{href:"#"} ORDER NOW
          .wd-content
            %p.wdc-title Storytelling Tutorial:
            .wdc-p
              %P If you could not attend one of Adam’s Classroom Sessions do not fret! This video covers the entire class with full segments, from Types of Films to Growing Your Business.
              %p If you have already signed up for or attended a class it is your lucky day! Each person who has purchased a Golden Ticket will receive this video automatically.
              %p This Classroom Session Workshop Video covers the following topics and will be available by November 15:
            .wdc-bottom
              .class-type
                .ct-in
                  .ct-in-left
                    %ul
                      %li Type of Films
                      %li Planning Your Story
                      %li Key Element of your Film
                      %li Essential Filming Principles & Techniques
                      %li Editing your Story
                      %li Color Correction / Color Grading
                      %li Growing your Business
                  .ct-in-right
                    %p Price <b>$85</b>
                    %a.green_btn.red-btn{href:"#"} ORDER NOW
        .people
          .pl-in
            .scope
            .quote
              %P “Audio is as important if not more important than video and if you don't know what you are doing in that area all your hard work with the image is wasted. Adam breaks down everything you need to know into understandable, coherent sections …which will leave you much the wiser, more confident and ready to record great sound! He is a fantastic teacher who clearly loves what he teaches and that comes across making it a pleasure to listen to!”
            .portrets
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-1
                  .p-name
                    %p Philip Bloom
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-2
                  .p-name
                    %p Vincent Laforet
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-3
                  .p-name
                    %p David Ruby
                    %p Cinematographer, Filmmaker
              .pt-in
                %a.pti{href:"#"}
                  .pti-in.ph-4
                  .p-name
                    %p Dale Owen
                    %p Cinematographer, Filmmaker
      %footer
        #footer
          .rights
            %p ©2015 StorytellingUnleashed.com
            %p.arr  All rights reserved
            %a{href:"mailto:team@storytellingunleashed.com"} Team@StorytellingUnleashed.com
          .social
            %a{href:"#"}
              %i.fa.fa-facebook
            %a{href:"#"}
              %i.fa.fa-instagram
            %a{href:"#"}
              %i.fa.fa-tumblr
            %a{href:"#"}
              %i.fa.fa-twitter
    %script{src:"js/vendor/jquery.js"}
    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"}
    %script{src:"js/foundation.min.js"}
    :javascript
      $(document).foundation();